<?xml version="1.0" encoding="UTF-8" ?>
<widget id="tw.edu.nfu.40741401" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
<!-- versionCode is optional and Android only -->
  <name>Car store</name>
  <description>
     
  </description>
  <author href="" email="40741401@gm.nfu.edu.tw">
      ZHOU-HONG-YING
  </author>
  <content src="index.html" />
  <platform name="android">
    <icon src="res/AA.png" />
  </platform>
</widget>